body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-planes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: -3px;
}

.y-planes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: -3px;
}

.plane-container {

}

.plane {
  background-color: rgba(50, 50, 50, 0.85);
  border: 2px solid #fff;
  opacity: 0.5;
}

.x-planes .plane {
  transform: rotateX(15deg) rotateY(20deg);
}
.y-planes .plane {
  transform: rotateX(-15deg) rotateY(20deg);
}

.game-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  margin-top: 100px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
